<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/footprint.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Feature 1<small class="d-none">🛡️</small></h2>
        <p>Description</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/cashback.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Feature 2 <small class="d-none">🚀</small></h2>
        <p>Description</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/calculator.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Feature 3 <small class="d-none">📈</small></h2>
        <p>Description.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Feature 4 <small class="d-none">🦉</small></h2>
        <p>Description</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Feature 5 <small class="d-none">✨</small></h2>
        <p>Description</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Feature 6 <small class="d-none">🧰</small></h2>
        <p>Description</p>
    </div>
</div>
