<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <style>
        .feature-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto 20px;
        }
    
        .col-lg-4 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        
        .col-lg-4 h2, .col-lg-4 p {
            margin-top: auto;
        }
    </style>
    
</head>
<body>
    <div class="row justify-content-center text-center mt-lg-3">
        <div class="col-lg-4">
            <img class="feature-image" src="images/images/Screenshot-page1.png" alt="Customizable Blocking Lists">
            <h2 class="h2">Customizable Blocking Lists<small class="d-none">🛡️</small></h2>
            <p>Users can tailor their online environment by creating and customizing lists of websites they wish to block, enhancing productivity and focus.</p>
        </div>
        <div class="col-lg-4">
            <img class="feature-image" src="images/images/Screenshot-popup.png" alt="URL and Domain Blocking">
            <h2 class="h2">URL and Domain Blocking<small class="d-none">🚀</small></h2>
            <p>Users can block specific URLs or entire domains, ensuring comprehensive control over website accessibility.</p>
        </div>
        <div class="col-lg-4">
            <img class="feature-image" src="images/images/Screenshot-page2.png" alt="Easy Blocklist Management">
            <h2 class="h2">Easy Blocklist Management<small class="d-none">📈</small></h2>
            <p>The advanced settings page allows users to easily create, update, and delete blocklists, simplifying the management process.</p>
        </div>
    </div>

    <div class="row justify-content-center text-center mt-lg-3">
        <div class="col-lg-4">
            <h2 class="h2">Group Activation for Blocking Sessions<small class="d-none">🦉</small></h2>
            <p>This feature enables users to activate multiple blocklists simultaneously during a blocking session.</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Block Session Control<small class="d-none">✨</small></h2>
            <p>Users can quickly start and end blocking sessions through the extension's popup, allowing for dynamic control over their browsing environment.</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Temporary Bypass<small class="d-none">🧰</small></h2>
            <p>Offers the ability to temporarily access blocked websites during an active session, adding a layer of convenience without permanent changes to settings.</p>
        </div>
    </div>
</body>
</html>
